<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        
        {% for estudiante in estudiante  %}

        <li>Nombre del estudiante: {{estudiante.nombre}}</li>
        <li>Apellido del estudiante: {{estudiante.apellido}}</li>
        <li>Email del estudiante: {{estudiante.email}}</li>

        {% endfor  %}   



        </ul>

        
</body>
</html>